
@import "../../styles/shared";

.TrackListAlbum {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.TrackListAlbumTitle {
  padding-left: 1rem;
  font-size: 1.1rem;
  color: $body-color;

  @media only screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

.TrackListAlbumArtist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.TrackListAlbumArtistName {
  padding-left: 1rem;
  font-size: 0.6rem;
  color: $body-color;
  padding-top: 0.5rem;
  margin: 0;

  @media only screen and (min-width: 768px) {
    font-size: 1rem;
    padding-top: 0;
  }
}

.TrackListTable {

  width: 100%;
  margin: 2rem 0 0 0;
  padding: 0;

  .TrackListTable__narrow-cel {
    width: 10%;
  }

  .TrackListTable__wide-cel {
    width: 35%;
  }

  thead {
    background-color: #000000;
    color: white;
  }

  th {
    border: none !important;
    font-weight: 600;
  }

  td {
    border: none;
  }
}
