@import "variables";

// Really simple grid
.row { margin:  0 -#{$gutter}; }
.col { padding: 0 $gutter; }

.row:after {
  display: block;
  content: "";
  clear: both;
}

.col {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
