@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$body-bg: #1c1c1c;
$body-color: #ffffff;

$brand-primary: #01ffff;

$component-bg: #232323;
$component-color: $body-color;
$component-color-mute: #8a8a8a;

$gutter: 15px;
